<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <h2>Form</h2>

        <form  action="/login" method="post">
            <lable for="name">Name:</lable>
            <input type="text" id="name" name="name" placeholder="Enter your name" required><!---new-->

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>